################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasicAuthentication/.vs/BasicAuthentication
/BasicAuthentication/BasicAuthentication/bin/Debug/netcoreapp3.1
/BasicAuthentication/BasicAuthentication/obj
